*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monotype corsiva;
    color: rgb(5, 6, 7);
    font-size: xx-large;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #a4dfbb;
}

.container{
    position: relative;
}

.clock{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgba(226, 170, 14, 0.3);
    border: 2px solid rgba(153, 158, 160, 0.25);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.clock::before{
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: black;
    z-index: auto;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end ;
}

.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
}
